*{
margin: 0;
padding: 0;
}


body{
    background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  color: burlywood;
  background-color: floralwhite;
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   gap: 1.5vmin;
}

.rest-btn{
 padding: 1rem;
 font-size: 1.25rem;
 background-color: tomato;
 color: white;
 border-radius: 1rem;
 border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: tomato;
    color: white;
    border-radius: 1rem;
    border: none;
   }

   #msg{
    color: azure;
    font-size: 8vmin;
   }

   .msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 4rem;
   }

   .hide{
    display: none;
   }
   

